
@model Fresh_and_FIt.Models.HomeViewModel


@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/main_layout.cshtml";
}

<style>
    .hero__item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2); /* Black with 50% opacity */
        z-index: 1; /* Ensures the overlay is above the image but below the text */
    }

    .hero__text {
        z-index: 2; /* Ensures the text is above the overlay */
        color: white; /* White text for better readability */
        text-align: left;
        padding: 20px;
        padding-top: 150px;
    }

        .hero__text h2 {
            font-size: 46px;
            color: #ffffff; /* Set the font color to white */
            line-height: 52px;
            font-weight: 700;
            margin: 10px 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add a shadow effect */
        }
</style>

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Diet Types</span>
                    </div>
                    <ul>
                        <li>@Html.ActionLink("Pescatarian", "Shop", "User", new { dietType = "Pescatarian" }, null)</li>
                        <li>@Html.ActionLink("Low Sodium", "Shop", "User", new { dietType = "Low Sodium" }, null)</li>
                        <li>@Html.ActionLink("Keto", "Shop", "User", new { dietType = "Keto" }, null)</li>
                        <li>@Html.ActionLink("Low Carb", "Shop", "User", new { dietType = "Low Carb" }, null)</li>
                        <li>@Html.ActionLink("Mediterranean", "Shop", "User", new { dietType = "Mediterranean" }, null)</li>
                        <li>@Html.ActionLink("Vegetarian", "Shop", "User", new { dietType = "Vegetarian" }, null)</li>
                        <li>@Html.ActionLink("Vegan", "Shop", "User", new { dietType = "Vegan" }, null)</li>
                        <li>@Html.ActionLink("Gluten Free", "Shop", "User", new { dietType = "Gluten Free" }, null)</li>
                        <li>@Html.ActionLink("Paleo", "Shop", "User", new { dietType = "Paleo" }, null)</li>
                        <li>@Html.ActionLink("Whole30", "Shop", "User", new { dietType = "Whole30" }, null)</li>
                        <li>@Html.ActionLink("Dairy Free", "Shop", "User", new { dietType = "Dairy Free" }, null)</li>
                        <li>@Html.ActionLink("Low Fat", "Shop", "User", new { dietType = "Low Fat" }, null)</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Diets
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Search for meals, diets...">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="@Url.Content("~/assets/img/hero/heroimg.jpg")">
                    <!-- Overlay -->
                    <div class="hero__overlay"></div>

                    <div class="hero__text">
                        <h2>Custom Meals <br />For Every Diet</h2>
                        <a href="#" class="primary-btn">ORDER NOW</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/keto.jpg")">
                        <h5><a href="#">Keto Diet</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/Vegan.jpg")">
                        <h5><a href="#">Vegan Diet</a></h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/Mediterranean.jpg")">
                        <h5><a href="#">Mediterranean Diet</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/low_sodium.jpg")">
                        <h5><a href="#">Low Sodium Diet</a></h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/Pescatarian.jpg")">
                        <h5><a href="#">Pescatarian Diet</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/assets/img/categories/Vegetarian.jpg")">
                        <h5><a href="#">Vegetarian Diet</a></h5>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Meals</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        @foreach (var dietType in Model.DietTypes)
                        {
                            var isActive = dietType.Equals("Keto", StringComparison.OrdinalIgnoreCase) ? "active" : "";
                            <li class="@isActive" data-filter=".@dietType.ToLower().Replace(" ", "-")">@dietType</li>
                        }
                    </ul>
                </div>
                <div class="row featured__filter">
                    @foreach (var meal in Model.FeaturedMeals)
                    {
                        var mealClasses = meal.DietType.ToLower().Replace(" ", "-");
                        var isVisible = meal.DietType.Equals("Keto", StringComparison.OrdinalIgnoreCase) ? "block" : "none";
                        <div class="col-lg-3 col-md-4 col-sm-6 mix @mealClasses" style="display: @isVisible;">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@meal.ImageUrl">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">@meal.Name</a></h6>
                                    <h5>@meal.Price.ToString("C")</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/assets/img/banner/banner-1.jpg" alt="Banner 1">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/assets/img/banner/banner-2.jpg" alt="Banner 2">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Meals</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.LatestMeals.Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.LatestMeals.Skip(3).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.LatestMeals.Skip(6).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat for Top Rated Meals -->
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Meals</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.TopRatedMeals.Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.TopRatedMeals.Skip(3).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.TopRatedMeals.Skip(6).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat for Review Meals -->
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Meals</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.ReviewMeals.Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.ReviewMeals.Skip(3).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var meal in Model.ReviewMeals.Skip(6).Take(3))
                            {
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@meal.ImageUrl" alt="@meal.Name">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@meal.Name</h6>
                                        <span>@meal.Price.ToString("C")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/blog/blog-1.jpg" alt="Blog 1">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4, 2024</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">5 Easy Keto Recipes for Beginners</a></h5>
                        <p>Discover simple and delicious keto meals that you can make at home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/blog/blog-2.jpg" alt="Blog 2">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4, 2024</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">The Benefits of a Vegan Diet</a></h5>
                        <p>Learn how a plant-based diet can improve your health and well-being.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/blog/blog-3.jpg" alt="Blog 3">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4, 2024</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">How to Stick to Your Paleo Diet</a></h5>
                        <p>Tips and tricks to stay on track with your paleo eating plan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
