@model Fresh_and_FIt.Models.ShopViewModel

<div class="container">
    <div class="row">
        <!-- Sidebar for Diet Types -->
        <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>Diet Types</span>
                </div>
                <ul>
                    @foreach (var diet in Model.DietTypes)
                    {
                        <li>
                            @Html.ActionLink(diet, "Shop", new { dietType = diet }, new { @class = Model.SelectedDietType == diet ? "active" : "" })
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- Main Content for Meals -->
        <div class="col-lg-9">
            <div class="section-title product__discount__title">
                <h2>@Model.SelectedDietType Diet</h2>
            </div>
            <div class="row">
                @foreach (var meal in Model.Meals)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@meal.ImageUrl">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <span>@meal.DietType</span>
                                <h5><a href="#">@meal.Name</a></h5>
                                <div class="product__item__price">@meal.Price.ToString("C")</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to handle background images -->
<script>
    $(document).ready(function () {
        $('.set-bg').each(function () {
            var bg = $(this).data('setbg');
            $(this).css('background-image', 'url(' + bg + ')');
        });
    });
</script>
